<br /><br />
<div class="row">
  <div
    class="
      col-xl-10
      offset-xl-1
      col-lg-10
      offset-lg-2
      col-md-9
      offset-md-2
      col-sm-9
      offset-sm-2
      col-9
      offset-2
    "
  >
    <h2><strong>Sign up & continue</strong></h2>
  </div>
</div>
<form>
  <br />
  <div class="row">
    <div
      class="
        col-xl-4
        offset-xl-1
        col-lg-9
        offset-lg-2
        col-md-9
        offset-md-2
        col-sm-9
        offset-sm-2
        col-9
        offset-2
        form-group
      "
    >
      <label for="username" class="control-label">
        <b>Username</b>
      </label>
      <input
        type="text"
        name="username"
        id="username"
        class="form-control"
        placeholder="abc123"
      />
    </div>
    <div
      class="
        col-xl-4
        offset-xl-1
        col-lg-9
        offset-lg-2
        col-md-9
        offset-md-2
        col-sm-9
        offset-sm-2
        col-9
        offset-2
        form-group
      "
    >
      <label for="email" class="control-label">
        <b>Email address</b>
      </label>
      <input
        type="text"
        name="email"
        id="email"
        class="form-control"
        placeholder="name@example.com"
      />
    </div>
  </div>
  <div class="row">
    <div
      class="
        col-xl-4
        offset-xl-1
        col-lg-9
        offset-lg-2
        col-md-9
        offset-md-2
        col-sm-9
        offset-sm-2
        col-9
        offset-2
        form-group
      "
    >
      <label for="password" class="control-label"><b>Password</b></label>
      <input
        type="password"
        name="password"
        id="password"
        class="form-control"
        placeholder="secure password"
        autocomplete="on"
      />
    </div>
    <div
      class="
        col-xl-4
        offset-xl-1
        col-lg-9
        offset-lg-2
        col-md-9
        offset-md-2
        col-sm-9
        offset-sm-2
        col-9
        offset-2
        form-group
      "
    >
      <label for="confirmPassword" class="control-label"
        ><b>Confirm password</b></label
      >
      <br />
      <input
        type="password"
        name="confirmPassword"
        id="confirmPassword"
        class="form-control"
        placeholder="re-enter password"
        autocomplete="on"
      />
    </div>
  </div>
  <div class="row">
    <div
      class="
        col-xl-4
        offset-xl-1
        col-lg-9
        offset-lg-2
        col-md-9
        offset-md-2
        col-sm-9
        offset-sm-2
        col-9
        offset-2
        form-group
      "
    >
      <label for="firstName" class="control-label">
        <b>First name</b>
      </label>
      <input
        type="text"
        name="firstName"
        id="firstName"
        class="form-control"
        placeholder="e.g. John"
      />
    </div>
    <div
      class="
        col-xl-4
        offset-xl-1
        col-lg-9
        offset-lg-2
        col-md-9
        offset-md-2
        col-sm-9
        offset-sm-2
        col-9
        offset-2
        form-group
      "
    >
      <label for="lastName" class="control-label">
        <b>Last name</b>
      </label>
      <input
        type="text"
        name="lastName"
        id="lastName"
        class="form-control"
        placeholder="e.g Doe"
      />
    </div>
  </div>
  <div class="row">
    <div
      class="
        col-xl-4
        offset-xl-1
        col-lg-9
        offset-lg-2
        col-md-9
        offset-md-2
        col-sm-9
        offset-sm-2
        col-9
        offset-2
        form-group
      "
    >
      <label for="securityQuestion" class="control-label"
        ><b>Security question</b></label
      >
      <select
        id="securityQuestion"
        name="securityQuestion"
        class="form-control"
      >
        <option value="">list of questions here</option>
        <option value="1">What is the name of your favorite pet?</option>
        <option value="2">What is your mother's maiden name?</option>
        <option value="3">What is the name of your first school?</option>
        <option value="4">What was the make of your first car?</option>
      </select>
    </div>
    <div
      class="
        col-xl-4
        offset-xl-1
        col-lg-9
        offset-lg-2
        col-md-9
        offset-md-2
        col-sm-9
        offset-sm-2
        col-9
        offset-2
        form-group
      "
    >
      <label for="securityAnswer" class="control-label">
        <b>Enter your answer here</b>
      </label>
      <input
        type="text"
        name="securityAnswer"
        id="securityAnswer"
        class="form-control"
        placeholder="answer"
      />
    </div>
  </div>
  <br /><br />
  <div class="row">
    <div
      class="
        col-xl-10
        offset-xl-1
        col-lg-9
        offset-lg-2
        col-md-9
        offset-md-2
        col-sm-9
        offset-sm-2
        col-9
        offset-2
        text-center
      "
    >
      <button type="submit" class="btn btn-sm rounded-pill px-5">
        Sign up
      </button>
    </div>
  </div>
</form>
<br />
